*{
box-sizing: border-box;
margin: 0;
padding: 0;
}



.bottone{
    display: inline block;
    border-radius: 10%;
    padding: 5% 5%;
    background-color: white;
}

.primo-blocco{
    width: 60%;
    margin: 0 auto;
    background-color: rgba(250, 235, 215, 0.83);
    
}

header{
    background-color: rgb(37,94,233);
    padding: 5%;
}

nav{
    text-align: center;
    display: flex;
    justify-content: center;
    
    
}

.jumbotron{
    background-color: bisque; 
    text-align: center;   
}

ul li{
    display: inline-block;
    color: white;
    flex-direction: row;

}

.logo{
   float: left;


}