*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

ul li{
    display: inline;
}

.bottone{
    display: inline block;
}

.primo-blocco{
    width: 60%;
    margin: 0 auto;
    background-color: rgba(250, 235, 215, 0.83);
}

header{
    background-color: rgb(37,94,233);
    padding: 6rem;
}

nav{
    background-color: rgba(0, 0, 255, 0.503);
}

.jumbotron{
    background-color: bisque;
}